.filterInputDescr {
  font-size: 16px;
  margin-bottom: 4px;
}
.filterInput {
  height: 24px;
  width: 220px;
  border-radius: 4px;
  border: none;
  background-color: beige;
  margin-bottom: 18px;
}
